<div class="reset-password-container">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="token">Token:</label>
        <input type="text" id="token" name="token" [(ngModel)]="token" required>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      </div>
      <div *ngIf="passwordsNotMatch" class="error-message">
        Passwords do not match.
      </div>
      <div *ngIf="errorMessage" class="error-message">
        <p>Error: Unable to reset password. Please try again.</p>
      </div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
  